# data
data/
datasets/
**/*.tif
**/*.tiff
**/*.png
**/*.jpg

# outputs
outputs/
predictions/

# model weights
*.keras

# nnU-Net working directories
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/

# OS / editor
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc